# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Local Netlify folder
.netlify
plc-helpdesk-supabase-dec1-main (1)BKUP-1Dec-7-12pm.zip
node_modules_backup
plc-helpdesk-supabase-dec1-main/
